<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransiTrainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82AFAD8F1F53AC4B001D2E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82AFADA51F53AC4B001D2E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82AFADB01F53AC4B001D2E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
